.sidenav-list-item {
  :global {
    > [aria-current='page'] {
      background-color: var(--color-contrast-higher);
      color: var(--color-white);
    }

    > a:hover:not([aria-current='page']) {
      background-color: var(--color-contrast-lower);
    }
  }
}
