.list,
.text-component .list {
  --list-space-y: var(--space-xxs);
  --list-offset: var(--space-xs);
  --list-line-height: var(--body-line-height);

  padding-left: 0;
  list-style: none;

  ul {
    list-style: none;
    margin: 0;
    margin-top: calc(var(--list-space-y) / 2);
    padding-top: calc(var(--list-space-y) / 2);
    padding-left: var(--list-offset);
  }

  li {
    padding-bottom: calc(var(--list-space-y) / 2);
    margin-bottom: calc(var(--list-space-y) / 2);
    line-height: var(--list-line-height);
  }

  > li:last-child,
  ul > li:last-child {
    margin-bottom: 0;
  }

  &:not(.list--border) > li:last-child,
  ul > li:last-child {
    padding-bottom: 0;
  }
}

.list--ul,
.text-component .list--ul {
  --list-offset: calc(var(--list-bullet-size) + var(--list-bullet-margin-right));

  ul {
    padding-left: 0;
  }

  li {
    padding-left: var(--list-offset);
  }

  li::before {
    width: var(--list-bullet-size);
    height: var(--list-bullet-size);
    margin-left: calc(var(--list-bullet-size) * -1);
    display: inline-flex;
    vertical-align: middle;
    position: relative;
    left: calc(var(--list-bullet-margin-right) * -1);
  }
}

.list--ul {
  --list-bullet-size: 7px;
  --list-bullet-margin-right: 12px;

  li::before {
    content: '';
    border-radius: 50%;
    color: var(--color-primary);
    background-color: currentColor;
    border: 2px solid currentColor;
  }

  ul li::before {
    background-color: transparent;
  }
}
