.details {
  &__summary {
    display: inline-block;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: var(--color-primary);
    }

    &:focus {
      outline: 2px solid alpha(var(--color-primary), 0.2);
      outline-offset: 4px;
    }

    .icon {
      transition: transform 0.2s;
      flex-shrink: 0;
    }
  }
}

:global {
  .js {
    .details__summary {
      list-style: none;
    }

    .details__summary::-webkit-details-marker {
      display: none;
    }

    .details__summary[aria-expanded='true'] .icon {
      transform: rotate(90deg);
    }

    .details__content[aria-hidden='true'] {
      display: none;
    }
  }

  html:not(.js) .details__summary {
    .icon {
      display: none;
    }
  }
}
