:global {
  @import 'codyhouse-framework/main/assets/css/base';
  @import 'codyhouse-framework/main/assets/css/custom-style';
  @import 'demo/scss/common';

  code:not(code[class*='language-']) {
    font-family: var(--font-mono);
    font-weight: 600;
    color: var(--color-primary);

    &::before,
    &::after {
      content: '`';
    }
  }

  .font-mono {
    font-family: var(--font-mono);
  }
}
